.card {
  width: 100%;
  background-color: $background-paper;
  border-radius: $border-radius;
  padding: 16px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;

  &--locked {
    opacity: 0.7;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__image {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: 4px;

    &--end {
      align-items: flex-end;
    }

    &__title {
      font-size: 14px;
      font-weight: 900;
      color: $text-primary;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      gap: 4px;

      &--primary {
        color: $primary-color;
        font-size: 18px;
        font-weight: 900;
      }
    }

    &__value {
      font-size: 14px;
      color: $text-secondary;
    }
  }
}
