.container {
  @include button-shape;
  padding: 16px 32px;
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
  transition: all 0.3s ease;

  &__icon {
    font-size: 32px;
    color: $primary-contrast-text;

    &--smaller {
      font-size: 24px;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &__row {
      width: max-content;
      display: flex;
      align-items: center;
      gap: 8px;

      &__icon {
        width: 24px;
        height: 24px;
      }
    }

    &__title {
      font-size: 16px;
      font-weight: 700;
      color: $primary-contrast-text;
    }

    &__description {
      font-size: 12px;
      font-weight: 400;
      color: $primary-contrast-text;
    }
  }

  &:hover {
    @include lighen(10%);
    animation: bounce 1.5s ease infinite;
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
