.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  &__image {
    width: 100%;
    max-width: 350px;
  }

  &__description {
    width: 100%;
    max-width: 350px;
    text-align: center;
    font-size: 14px;
    color: $text-secondary;
  }
}
