.container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
  padding-inline: 32px;

  &__icon {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: $primary-color;
    color: $background-default !important;
    transition: all 0.3s ease;

    &:hover {
      background-color: $secondary-color;
    }
  }
}
