.card {
  width: 100%;
  height: max-content;
  background-color: $background-paper;
  border-radius: $border-radius;
  padding: 16px;
  padding-left: 100px;
  box-shadow: 0 10px 30px 0 $divider-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  position: relative;
  overflow: hidden;

  &__image {
    width: 100%;
    max-width: 80px;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__column {
    width: 100%;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;

    &__title {
      font-size: 18px;
      font-weight: 600;
      color: $text-primary;
    }

    &__position {
      font-size: 14px;
      font-weight: 600;
      color: $primary-color;
    }

    &__address {
      font-size: 14px;
      font-weight: 400;
      color: $text-secondary;
    }

    &__affiliated_at {
      font-size: 14px;
      font-weight: 400;
      color: $text-secondary;
    }
  }
}
