.button {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  font-weight: 400;
  color: $primary-contrast-text !important;
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;
  height: max-content;
  padding: unset;

  &:hover {
    color: $background-paper !important;
    background-color: unset !important;
  }
}
