.text,
.chevron {
  &--default {
    @include skeleton;
  }

  &--secondary {
    @include skeleton($secondary: true);
  }
}

.text {
  width: 20%;
  height: 14px;
}

.chevron {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}
